@page
@model CogniSmiles.Pages.Dashboard.HomeModel

<div>
    <a asp-page="./NewPatient">Add New Patient Record</a>
    @if (Model.IsAdmin)
    {
        <a asp-page="../Doctors/Index">List of Doctors</a>
    }
</div>

<h1>List of Patient Records</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].PatientCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].SurgicalGuideReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].ImplantSite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].ImplantSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].ImplantDiameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].ImplantLength)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].PatientStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Patient) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurgicalGuideReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImplantSite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImplantSystem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImplantDiameter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImplantLength)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.PatientStatus)
            </td>            
            <td>
                <a asp-page="./UpdatePatient" asp-route-id="@item.Id">Update Patient </a> <br/>
                <a asp-page="./PatientComment" asp-route-id="@item.Id">Patient Comments </a> <br />
                <a asp-page="../FileManager/ManageFiles" asp-route-id="@item.Id">Patient Files</a> <br />
                <a asp-page="./DeletePatient" asp-route-id="@item.Id">Delete Patient</a>
            </td>
        </tr>
}
    </tbody>
</table>
