@page
@model CogniSmiles.Pages.Dashboard.HomeModel


<form method="post">
    <div class="dashboard_links">
        <a asp-page="./NewPatient">Add New Patient Record</a>
        @if (Model.IsAdmin)
        {
            <a asp-page="../Doctors/Index">List of Doctors</a>
        
        }
        <a asp-page="./Home" asp-page-handler="ArchivedList">Archived List</a>
    </div>

    <table class="patientSearch">
        
        <tr>
            <td colspan="2">
                @if(Model.IsArchivedList)
                {
                    <h5>[ARCHIVED LIST] Search Patient by Patient code or Registered Practice or Dentist Name </h5>
                }
                else
                {
                    <h5> Search Patient by Patient code or Registered Practice or Dentist Name </h5>
                }
               
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <b> (Only shows Top 25 Patients starting from latest) </b>
            </td>
        </tr>
        <tr>        
            <td>
                <div class="form-group">
                   
                    <input asp-for="PatientSearchTerm" class="form-control" />
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary" asp-page="Home" asp-page-handler="Search" />
                </div>
            </td>
        </tr>
            
    </table>
    <table class="bulkAction">
        <tr>
            <td style="float:left;">
                <input type="submit" value="Archive" class="btn btn-secondary" asp-page="Home" asp-page-handler="Archive" onclick="return confirm('Records will be archived permenently. Are you sure?')" />
            </td>
            <td style="float:left;">
                <input type="submit" value="Delete" class="btn btn-primary" asp-page="Home" asp-page-handler="Delete" onclick="return confirm('Records will be deleted from system permenently. Are you sure?')" />
            </td>
        </tr>
    </table>

<h1>List of Patient Records</h1>
@if (Model.PatientList.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Select
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientList[0].PatientCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientList[0].DentistName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientList[0].PracticeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientList[0].SurgicalGuideReturnDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientList[0].ImplantSite)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientList[0].ImplantSystem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientList[0].ImplantDiameter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientList[0].ImplantLength)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientList[0].PatientStatus)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                @for (var i = 0; i < Model.PatientList.Count(); i++)
            {
                <tr>
                    <td>
                            @Html.HiddenFor(modelitem => Model.PatientList[i].Id)
                            @Html.CheckBoxFor(modelitem => Model.PatientList[i].Selected)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.PatientList[i].PatientCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.PatientList[i].DentistName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.PatientList[i].PracticeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.PatientList[i].SurgicalGuideReturnDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.PatientList[i].ImplantSite)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.PatientList[i].ImplantSystem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.PatientList[i].ImplantDiameter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.PatientList[i].ImplantLength)
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => Model.PatientList[i].PatientStatus)
                    </th>
                    <td class="patient_links">
                        @*@if (Model.IsAdmin)
                        {
                            <a asp-page="./TransferPatient" asp-route-id="@Model.PatientList[i].Id">Transfer Patient </a>
                        }*@
                        <a asp-page="./PatientComment" asp-route-id="@Model.PatientList[i].Id">Dentist Comments </a>
                        <a asp-page="../FileManager/ManageFiles" asp-route-id="@Model.PatientList[i].Id">View / Upload Files</a>
                        @*<a asp-page="./DeletePatient" asp-route-id="@Model.PatientList[i].Id">Delete Patient</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <span class="noRecords"> No Patient Records Found </span>
}
</form>