@page
@model CogniSmiles.Pages.Dashboard.PatientDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details of Patient : @Model.Patient.PatientCode</h1>

<div>    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.PatientCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.PatientCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.SurgicalGuideReturnDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.SurgicalGuideReturnDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.ImplantSite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.ImplantSite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.ImplantSystem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.ImplantSystem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.ImplantDiameter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.ImplantDiameter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.InmplantLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.InmplantLength)
        </dd>        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.PatientStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.PatientStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Comments)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./UpdatePatient" asp-route-id="@Model.Patient.Id">Update </a> |
    <a asp-page="./PatientComment" asp-route-id="@Model.Patient.Id"> Add / View Comments </a> |
    <a asp-page="../FileManager/ManageFiles" asp-route-id="@Model.Patient.Id">Manage Files</a> |
    <a asp-page="./DeletePatient" asp-route-id="@Model.Patient.Id">Delete</a>   
</div>
