@page
@model CogniSmiles.Pages.Doctors.ForgottenCredentialsModel
@{
    ViewData["Title"] = "Forgotten Credentials";
}
<h1>@ViewData["Title"] Page</h1>
<hr />
@if(Model.Action != null)
{
     <form method="post">
    <input type="hidden" asp-for="@Model.Action" />
    <table>
        <tr>
            <td>
                <div class="form-group">
                      <label asp-for="@Model.EmailAddress" class="control-label"></label>
                      <input asp-for="@Model.EmailAddress" class="form-control" type="email"/>
                      <span asp-validation-for="@Model.EmailAddress" class="text-danger"></span>
                 </div>
            </td>
            <td>
                <div class="form-group">
                    @if (Model.Action == "username")
                    {
                        <label class="control-label">
                            please provide your registered email address to retrieve your user name
                        </label>
                    }
                    else if (Model.Action == "password")
                    {
                        <label class="control-label">
                            please provide your registered email address to get your reset password link
                        </label>
                    }
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="form-group">
                    @if (Model.Action == "username")
                    {
                        <input type="submit" value="Retreive Username" class="btn btn-primary" asp-route-action="@Model.Action" />
                    }
                    else if (Model.Action == "password")
                    {
                        <input type="submit" value="Send Reset Link" class="btn btn-primary" asp-route-action="@Model.Action" />
                    }                    
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @if(Model.ErrorMessage != null)
                {
                    <label class="control-label">
                        @Model.ErrorMessage
                    </label>
                }
            </td>
        </tr>
    </table>
    </form>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
