@page
@model CogniSmiles.Pages.Doctors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of Registered Doctors</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doctor[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor[0].PracticeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Doctor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PracticeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Update</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
