@page
@model CogniSmiles.Pages.Doctors.ResetCredentialsModel
@{
    ViewData["Title"] = "Reset Password";
}
<h1>@ViewData["Title"] Page</h1>
<hr />
@if(Model.IsValidRequest)
{
    <form method="post">
        <input type="hidden" asp-for="@Model.UserID" />
        <table>
            <tr>
                <td>
                    <div class="form-group">
                        <label asp-for="@Model.EmailAddress" class="control-label"></label>
                        <input asp-for="@Model.EmailAddress" class="form-control" type="email" />
                        <span asp-validation-for="@Model.EmailAddress" class="text-danger"></span>
                    </div>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label asp-for="@Model.NewPassword" class="control-label"></label>
                        <input asp-for="@Model.NewPassword" class="form-control" type="password" />
                        <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                    </div>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label asp-for="@Model.ConfirmPassword" class="control-label"></label>
                        <input asp-for="@Model.ConfirmPassword" class="form-control" type="password" />
                        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                    </div>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="form-group">
                        <input type="submit" value="Reset Password" class="btn btn-primary" />
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @if (Model.ErrorMessage != null)
                    {
                        <label class="control-label">
                            @Model.ErrorMessage
                        </label>
                    }
                </td>
            </tr>
        </table>
    </form>
}
else if(Model.IsResetSuccess)
{
    <h4 class="resetSuccesss">You have successfully changed your password. Try Login with your new password</h4>
}
else
{
    <h4 class="errorMsg">Invalid Request with UserID</h4>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
