@page
@using CogniSmiles.Models
@model CogniSmiles.Pages.FileManager.ManageFilesModel
@{
    ViewData["Title"] = "View / Upload Files Patient Record";
}

<h1>View Files for Patient @Model.PatientName </h1>
@if (Model.PatientFiless.Count > 0)
{
    <table class="tbl_files">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PatientFiless[0].FileType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientFiless[0].FileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientFiless[0].ScanTakenDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientFiless[0].DateUploaded)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PatientFiless)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ScanTakenDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateUploaded)
                    </td>
                    <td>
                        <a asp-page="./DownLoadFile" asp-route-id="@item.Id">Download</a>
                        <a asp-page="./DeleteFile" asp-route-id="@item.Id" asp-route-patientId="@Model.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="noFiles">
        <h5> There are no files uploaded for this patient </h5>
    </div>    
}

<h1>Upload Files for Patient @Model.PatientName </h1>
<form method ="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <table class="tbl_upload">
        <tr>
            <td>
                <label asp-for="NewPatientFile.FileType" class="control-label"></label>
                @if (Model.IsAdmin)
                {
                    <label class="radio_button">
                        <input type="radio" asp-for="NewPatientFile.FileType" value="@FileType.Plan" checked="checked" />
                        Implant Plan
                    </label>
                    <label class="radio_button">
                        <input type="radio" asp-for="NewPatientFile.FileType" value="@FileType.SurgicalGuide" checked="checked" />
                        Surgical Guide
                    </label>
                }
            
                <label class="radio_button">
                    <input type="radio" asp-for="NewPatientFile.FileType" value="@FileType.DICOMFile" checked="checked" />
                    DICOMFile
                </label>
                <label class="radio_button">
                    <input type="radio" asp-for="NewPatientFile.FileType" value="@FileType.STLFile" />
                    STLFile
                </label>
                
            </td>
            <td>
                <label asp-for="@Model.PatientStatus" class="control-label"></label>
                @if (Model.IsAdmin)
                {
                    <label class="radio_button">
                        <input type="radio" asp-for="@Model.PatientStatus" value="@PatientStatus.MoreInfoRequested"  checked="checked" />
                        More Info Requested
                    </label>
                    <label class="radio_button">
                        <input type="radio" asp-for="@Model.PatientStatus" value="@PatientStatus.ApprovePlan" />
                        Approve Plan
                    </label>
                    <label class="radio_button">
                        <input type="radio" asp-for="@Model.PatientStatus" value="@PatientStatus.GuidePosted" />
                        Guide Posted
                    </label>
                }
                else
                {
                    <label class="radio_button">
                        <input type="radio" asp-for="@Model.PatientStatus" value="@PatientStatus.AwaitingPlanning" checked="checked" />
                        Awaiting Planning
                    </label>
                    <label class="radio_button">
                        <input type="radio" asp-for="@Model.PatientStatus" value="@PatientStatus.AmendPlan"/>
                        Amend Plan
                    </label>
                    <label class="radio_button">
                        <input type="radio" asp-for="@Model.PatientStatus" value="@PatientStatus.Approved" />
                        Approve Plan
                    </label>
                }
                <span asp-validation-for="@Model.PatientStatus" class="text-danger"></span>
            </td>            
        </tr>
        <tr>
            <td>
                <label class="control-label">Upload New File</label>
                <div>
                    <label asp-for="NewPatientFile.FileName" class="control-label" />
                    <input asp-for="Upload" type="file" class="form-control" />
                </div>               
            </td>
            <td>
                <label asp-for="NewComment.Comment" class="control-label"></label>
                <textarea asp-for="PostedComment" class="form-control"></textarea>
                <span asp-validation-for="PostedComment" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="NewPatientFile.ScanTakenDate" class="control-label"></label>
                <input type="date" asp-for="NewPatientFile.ScanTakenDate" class="form-control" />
                <span asp-validation-for="NewPatientFile.ScanTakenDate" class="text-danger"></span>
            </td>
            <td class="submit">
                <button type="submit" class="btn-success">Submit</button>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @if (ViewData["UploadStatus"] != null)
                {
                    <label class="alert">
                        @ViewData["UploadStatus"]
                    </label>
                }
            </td>
        </tr>
    </table>    
    <div class="patient_links">       
        <a asp-page="../Dashboard/PatientComment" asp-route-id="@Model.Id">All Dentist Comments </a>
        <a asp-page="../Dashboard/Home">Back to List</a>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
