@page
@using CogniSmiles.Models
@model CogniSmiles.Pages.FileManager.ManageFilesModel
@{
    ViewData["Title"] = "View / Upload Files Patient Record";
}

<h1>View Files for Patient Record </h1>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientFiless[0].FileType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientFiless[0].FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientFiless[0].DateUploaded)
            </th>          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PatientFiless)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FileType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUploaded)
                </td>                
                <td>                    
                    <a asp-page="./DownLoadFile" asp-route-id="@item.Id">Download</a> <br/>
                    <a asp-page="./DeleteFile" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h1>Upload Files for Patient Record </h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="NewPatientFile.FileType" class="control-label"></label>
                    @foreach (var item in System.Enum.GetValues(typeof(FileType)))
                    {
                      <label>
                        <input  type="radio" 
                                asp-for="NewPatientFile.FileType" 
                                value="@Convert.ToInt32(item)" />
                        @item
                      </label>
                    }
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NewPatientFile.FileName" class="control-label" />
                <input asp-for="Upload" type="file" class="form-control" />
                <button type="submit" class="btn-success">Upload File</button>
                @if (ViewData["UploadStatus"] != null)
                {
                    <div class="alert" style="margin-top:20px">
                        @ViewData["UploadStatus"]
                    </div>
                }
            </div>           
        </form>
    </div>
</div>

<div>
    <a asp-page="../Dashboard/Home">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
